/* max-width: 1280px; */
/* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
} */

html,
body,
footer,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent overflow on the root element */
}

#root {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem; /* Add your padding */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}
